{
  "root": true,
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": "off",
    "prettier/prettier": "error",
    "no-unused-vars": "warn"
  }
}
